// Color Modes
// First Card
$modViolet: #804fcf; 
$profileViolet: #5104ce;
// Second Card
$greyBlue: #48556a; 
$profGreyBlue: #2c3441; 
// Third Card
$white: #f5f6fa; 
//Fifth card
$lightGrey: #949292;
// forth Card
$blackBlue: #19212e; 
$lightGreyBlue: #ecf2f8;
$lightWhite: #d4d5da;
$coolWhite: #dcdde1;