@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background: #dcdde1;
}

@media screen and (min-width: 60em) {
  .grid-col-span {
    grid-column: span 2;
  }

  .testimonies {
    grid-template-columns: repeat(4, 1fr);
  }

  .grid-adjust {
    grid-column: 4;
    grid-row: 1/3;
  }
}
.testimonies {
  display: grid;
  gap: 1.5rem;
  margin: 20px;
}

.card-a {
  color: #f5f6fa;
  background-color: #804fcf;
  border-radius: 10px;
}
.card-a .title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 20px;
}
.card-a .title img {
  width: 50px;
  border-radius: 100px;
  border: 3px solid #5104ce;
}
.card-a .title .title-text {
  padding: 0px 5px;
}
.card-a .title p {
  color: #d4d5da;
  opacity: 0.8;
  font-weight: 600;
}
.card-a .intro-title {
  padding: 10px 30px;
}
.card-a .testimony {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
}

.card-b {
  color: #f5f6fa;
  background-color: #48556a;
  border-radius: 10px;
}
.card-b .title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 20px;
}
.card-b .title img {
  width: 50px;
  border-radius: 100px;
  border: 3px solid #2c3441;
}
.card-b .title .title-text {
  padding: 0px 5px;
}
.card-b .title p {
  color: #d4d5da;
  opacity: 0.8;
  font-weight: 600;
}
.card-b .intro-title {
  padding: 10px 30px;
}
.card-b .testimony {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
}

.card-c {
  color: #48556a;
  background-color: #d4d5da;
  border-radius: 10px;
}
.card-c .title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 20px;
}
.card-c .title img {
  width: 50px;
  border-radius: 100px;
  border: 3px solid #949292;
}
.card-c .title .title-text {
  padding: 0px 5px;
}
.card-c .title p {
  color: #48556a;
  opacity: 0.8;
  font-weight: 600;
}
.card-c .intro-title {
  padding: 10px 30px;
}
.card-c .testimony {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
}

.card-d {
  color: #f5f6fa;
  background-color: #19212e;
  border-radius: 10px;
}
.card-d .title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 20px;
}
.card-d .title img {
  width: 50px;
  border-radius: 100px;
  border: 3px solid #5104ce;
}
.card-d .title .title-text {
  padding: 0px 5px;
}
.card-d .title p {
  color: #48556a;
  opacity: 0.8;
  font-weight: 600;
}
.card-d .intro-title {
  padding: 10px 30px;
}
.card-d .testimony {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
}

.card-e {
  color: #48556a;
  background-color: #d4d5da;
  border-radius: 10px;
}
.card-e .title {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 20px;
}
.card-e .title img {
  width: 50px;
  border-radius: 100px;
  border: 3px solid #949292;
}
.card-e .title .title-text {
  padding: 0px 5px;
}
.card-e .title p {
  color: #48556a;
  opacity: 0.8;
  font-weight: 600;
}
.card-e .intro-title {
  padding: 10px 30px;
}
.card-e .testimony {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.6;
}/*# sourceMappingURL=style.css.map */